
/* preset */
body{
    margin: auto;
    width: 80%;
}

h1{
    text-align: center;
    margin-top: 2%;
    font-family: 'Fredoka One', cursive ;
    color: rgb(249, 12, 123);
}

p{
    margin-top: 3%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 100px;
    width: 100px;
}

/* cards */

/* groups */
section {
    margin-top: 4%;

}

/* container */
.container{
    height: 100px;
    width: calc(100px*4);
    background-color: blue;
    border: solid black;
}


.card1{
    float: left;
    width: 30%;
}

.card2{
    float: left;
    width: 30%;
    margin-left: 5%;
}

.card3{
    float: right;
    width: 30%;
}

.group2{
    margin-top: 4%;
}