
/* preset */
body{
    margin: auto;
    width: 80%;
}

h1{
    text-align: center;
    margin-top: 2%;
    font-family: 'Fredoka One', cursive ;
    color: #e43171;
}

p{
    margin-top: 3%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 100px;
    width: 100px;
    float:left;
}

/* cards */

/* groups */
section {
    margin-top: 4%;

}

/* container */
.container{
    height: 100px;
    width: calc(100px*4);
    background-color: #0e0e16;
    border: rgba(0, 0, 0, 0.137);
    box-shadow: 0px 0px 5px 1px;
    /* vertical-align: middle; */
}


.card1{
    float: left;
    width: 30%;
}

.card2{
    float: left;
    width: 30%;
    margin-left: 5%;
}

.card3{
    float: right;
    width: 30%;
}


.group2{
    margin-top: 4%;
}

div p{
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    color: white;
    margin-left: 5%;
    margin-top: 9%;  
}

.inline{
    float: left;
}

.job, .email{
    font-family: Helvetica, sans-serif;
    font-size: small;
}

.email{
    color: #36aeec;
}